<html>
<head>


</head>
<table width="640px" align="center">
      <tr>
      <td>
	<b><a href ="Login.html">Login Page </a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b><a href ="Home.html">Home Page </a>
	<b><a href ="CRUD.html">CRUD</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="About Us.html">About Us</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b><h1><form action="/submit_registration" method="post">
	</td>
	</tr>
	</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center">This is Analysis page</h1>
</html>