

<!--<title>Apna NetBanking</title>-->

<head>
<link rel="stylesheet" href="mystyle.css">
</head>
<form action = "go" method = "post">
   <input type="hidden" name="csrfmiddlewaretoken" value="q80TEDGAJB5wztEBRa2LVNfdMg0IWmMSHeD7zVmw8E2ZuDFytPAQCLoLUVTnJeOv"> 
    <tr>
    <th><label for="id_Account_No">Account no:</label></th>
    <td>
      
      <input type="number" name="Account_No" required id="id_Account_No">
      
      
    </td>
  </tr>
<br>
<br>

  <tr>
    <th><label for="id_First_Name">First name:</label></th>
    <td>
      
      <input type="text" name="First_Name" maxlength="200" required id="id_First_Name">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Last_Name">Last name:</label></th>
    <td>
      
      <input type="text" name="Last_Name" maxlength="200" required id="id_Last_Name">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Address">Address:</label></th>
    <td>
      
      <input type="text" name="Address" maxlength="200" required id="id_Address">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_City">City:</label></th>
    <td>
      
      <input type="text" name="City" maxlength="200" required id="id_City">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_State">State:</label></th>
    <td>
      
      <input type="text" name="State" maxlength="200" required id="id_State">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Phone_Number">Phone number:</label></th>
    <td>
      
      <input type="text" name="Phone_Number" maxlength="200" required id="id_Phone_Number">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Email">Email:</label></th>
    <td>
      
      <input type="text" name="Email" maxlength="200" required id="id_Email">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Customer_ID">Customer id:</label></th>
    <td>
      
      <input type="number" name="Customer_ID" required id="id_Customer_ID">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Ac_Opening_Date">Ac opening date:</label></th>
    <td>
      
      <input type="text" name="Ac_Opening_Date" required id="id_Ac_Opening_Date">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_IFSC">Ifsc:</label></th>
    <td>
      
      <input type="text" name="IFSC" maxlength="200" required id="id_IFSC">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_FD">Fd:</label></th>
    <td>
      
      <input type="text" name="FD" maxlength="200" required id="id_FD">
      
      
    </td>
  </tr>
<br>
<br>
  <tr>
    <th><label for="id_Balance">Balance:</label></th>
    <td>
      
      <input type="number" name="Balance" required id="id_Balance">
      
      
        
      
    </td>
  </tr>       <!--  'form' is a key to 'InputForm' class which we are using here 
                    to generate the form -->
<br>
<br>
<br>
<button type="button" class="btn btn-primary btn-lg">Button</button>
</form>